[Unit]
Description=DNS caching server.
After=network.target
Requires=network.target

[Service]
Restart=on-failure
ExecStart=/usr/sbin/dnsmasq -k

[Install]
WantedBy=multi-user.target
