[Unit]
Description=DNS caching server.
After=network.target
Requires=network.target

[Service]
Restart=on-failure
ExecStartPre=/usr/bin/mkdir -m 755 -p /var/lib/dnsmasq
ExecStartPre=/usr/bin/chown _dnsmasq:_dnsmasq /var/lib/dnsmasq
ExecStart=/usr/sbin/dnsmasq -k

[Install]
WantedBy=multi-user.target
